<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components LifeCycle Hooks</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="task" placeholder="add new todo"/>
        <button @click="addTodo">Add Todo</button>
        <button @click="deleteTodo">Delete All Todos</button>
        <hr>
        <ul>
            <li v-for="todo in todos" :id="todo.index">
                <span>{{todo.task}} </span>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue ({
            el: '#app',
            data: {
                task: '',
                todos: []
            },
            created() {
                this.storage = window.localStorage;
                this.todos = JSON.parse(this.storage.getItem('todos')) || [];
            },
            updated() {
                this.storage.setItem('todos', JSON.stringify(this.todos))
            },
            beforeDestroy() {
                this.storage.setItem('todos', JSON.stringify(this.todos))
            },
            methods: {
                addTodo() {
                    const index = this.todos.length
                    this.todos.push({index: index, task:this.task})
                    this.task = ''
                },
                deleteTodo() {
                    this.todos = []
                }
            },
            
        })
    </script>
</body>
</html>